:root{
    /* dracula color scheme */
    --background-color:#282a36;
    --current-line-color:#44475a;
    --foreground-color:#f8f8f2;
    --comment-color:#6272a4;
    --cyan:#8be9fd;
    --green:#50fa7b;
    --orange:#ffb86c;
    --pink:#ff79c6;
    --purple:#bd93f9;
    --red:#ff5555;
    --yellow:#f1fa8c;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: cursor, monospace;
    overflow-x: hidden;
    margin: 0.5em;
}

.current-line{
    color: var(--foreground-color);
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}

.command{
    /* color:#ff5555; */
    margin-left: 10px;
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: cursor, monospace;
    font-size: medium;
    border: 0;
    resize: vertical;
    white-space: nowarp;
    width:80%;
}

.command:focus{
    outline: none;
}

.terminalHistory{
    margin-bottom: 10px;
    white-space: pre;
}

.greenGlowText{
    color: var(--green); 
    text-shadow: var(--green) 0px 0px 10px;
}

.blueGlowText{
    color: var(--cyan);
    text-shadow: var(--cyan) 0px 0px 15px;
}